@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}
.main {
  width: 100%;
  height: 50%;
  position: relative;
  bottom: 10%;
}
.grid-button {
  display: grid;
  grid-template-columns: 65% 35%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.grid-half-col {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: visible;
}
.grid-half-row {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 100%;
  height: 100%;
}
.pads {
  height: 100%;
  grid-template-rows: 70% 30%;
}
.menu-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  float: left;
  width: 100%;
  height: 100%;
}
.DevNotes {
  background-color: #756c63;
  outline: 5px solid #4d4741;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin-top: 25%;
}
.PsychoChess {
  width: 100%;
}
.button-icon {
  width: 60px;
}
.square {
  height: 50%;
}
.textbox {
  font-size: 24px;
  font-family: "Bebas Neue";
}
h1 {
  color: #333;
  font-size: 20px;
  font-weight: 0;
}
h2 {
  color: #4d4741;
  text-align: center;
  font-size: 30px;
  padding-left: 10px;
  font-weight: 1000;
}
h3 {
  color: #4d4741;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 1000;
}
h4 {
  color: #333;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 1000;
}
h5 {
  color: #333;
  font-size: 14px;
  padding-left: 10px;
  font-weight: 1000;
}
.h5link {
  font-size: 14px;
  padding: 0 0;
  font-weight: 1000;
}
.privacy {
  color: #333;
  font-size: 20px;
  font-weight: 0;
  border-radius: 20px;
  width: 75%;
  max-width: 1100px;
  height: 80%;
  padding: 25px 25px;
  background-color: #756c63;
  outline: 5px solid #4d4741;
  overflow: scroll;
}
.scroll {
  max-height: 250px;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow-y: scroll;
}
input {
  font-size: 24px;
  font-weight: 1000;
  color: #4d4741;
  background-color: #ccc;
  width: 100%;
  height: 100%;
  min-width: 300px;
  padding: 6px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid #4d4741;
}
input:hover {
  border: 5px solid #7c6c44;
}
.changeThemes {
  color: #4d4741;
  background-color: #997656;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid #4d4741;
}
.changeThemes:hover {
  background-color: #ad975f;
  border: 5px solid #7c6c44;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: repeating-conic-gradient(
    #a8a8a8 0deg 90deg,
    #545454 90deg 180deg
  );
}
@keyframes moveCheckerboard {
  from {
    background-position: 0 500px;
  }
  to {
    background-position: 500px 0px;
  }
}
.footer {
  position: fixed;
  display: grid;
  bottom: 10%;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  overflow: visible;
  background-color: #756c63;
  outline: 5px solid #4d4741;
  border-radius: 20px;
}
a {
  color: #4d4741;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 1000;
}
a:hover {
  color: #ad975f;
}
::-webkit-scrollbar {
  width: 1vh;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #4d4741;
  border: 5px solid #765b42;
  border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover {
  border: 5px solid #ad975f;
  background-color: #7c6c44;
}
.themeSelect {
  color: #4d4741;
  background-color: #997656;
  width: 100%;
  height: 100%;
  padding-top: 7%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid #4d4741;
  font-size: 24px;
  text-align: center;
}
select {
  color: #4d4741;
  background-color: #756c63;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 0px solid #4d474100;
  font-size: 20px;
  text-align: center;
}
select:hover {
  color: #7c6c44;
  background-color: #ad975f;
}
.hidden {
  visibility: hidden;
}
